<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AVALIAÇÃO FORMADORA I
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Meu Primeiro APP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card">
    <img src="/assets/imgs/me.jpg" width="100%">
    <div class="container">
      <h4><b>João Pedro Costa de Jesus</b></h4>
      <p>ADS0301M</p>
    </div>
  </div>
</ion-content>
